<p id="notice"><%= notice %></p>

<h1>Listing Comment2s</h1>

<table>
  <thead>
    <tr>
      <th>Topic</th>
      <th>Note</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comment2s.each do |comment2| %>
      <tr>
        <td><%= comment2.topic %></td>
        <td><%= comment2.note %></td>
        <td><%= link_to 'Show', comment2 %></td>
        <td><%= link_to 'Edit', edit_comment2_path(comment2) %></td>
        <td><%= link_to 'Destroy', comment2, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment2', new_comment2_path %>
