<p id="notice"><%= notice %></p>

<p>
  <strong>Topic:</strong>
  <%= @comment2.topic %>
</p>

<p>
  <strong>Note:</strong>
  <%= @comment2.note %>
</p>

<%= link_to 'Edit', edit_comment2_path(@comment2) %> |
<%= link_to 'Back', comment2s_path %>
